/*********************************************************** projects */
.projects-bg {
  background-color: #e0ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem 3rem;
}

.projects-title {
  text-align: center;
  font-size: 1.9rem;
  margin: 2rem 0;
}

.project-img {
  width: 16rem;
  border: 1rem solid #20b2aa;
  height: 17rem;
}

.project-img:hover {
  border-bottom: 1rem solid #99e6b3;
  border-left: 1rem solid #99e6b3;
  border-top: 1rem solid #aaf0d1;
  border-right: 1rem solid #aaf0d1;
}

.project-caption {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.project-description {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.project-tech {
  font-size: 1.2rem;
  line-height: 1.5;
}

/*************************** media queries: projects */
@media (min-width: 800px) {
  .projects-title {
    font-size: 2.3rem;
  }

  .project-img {
    width: 22rem;
    height: 23rem;
  }

  .project-caption,
  .project-description {
    margin-bottom: 1.5rem;
  }

  .project-caption {
    font-size: 2rem;
  }

  .project-description,
  .project-tech {
    font-size: 1.5rem;
  }
}
