/*********************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  cursor: default;
  color: #20b2aa;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*********************************************************** header */
.header-bg {
  background-color: #e0ffff;
  border-top: solid 1rem #20b2aa;
  border-bottom: solid 1rem #20b2aa;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #20b2aa;
}

.link:hover {
  color: #87cefa;
}

/*************************** media queries: header */
@media (min-width: 800px) {
  .link {
    font-size: 2.5rem;
  }
}

/*********************************************************** about me */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.3rem;
  text-align: center;
}

.about-me-container header,
.about-me-container .greeting,
.about-me-container .intro,
.about-me-container .intro-para,
.about-me-container figure {
  margin-top: 2rem;
}

.about-me-title {
  font-size: 1.9rem;
}

.greeting {
  font-size: 2rem;
}

.fas.fa-hand-sparkles {
  transform: rotate(20deg);
}

.intro,
.intro-para,
.avatar-caption {
  font-size: 1.5rem;
}

.avatar {
  width: 11rem;
  height: 11rem;
  border: solid 1rem #20b2aa;
}

/*************************** media queries: about me */
@media (min-width: 800px) {
  .about-me-title {
    font-size: 2.5rem;
  }

  .greeting {
    font-size: 2.5rem;
  }

  .intro,
  .intro-para,
  .avatar-caption {
    font-size: 2rem;
  }

  .avatar {
    width: 16rem;
    height: 16rem;
  }
}

/*********************************************************** projects */
.projects-bg {
  background-color: #e0ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem 7rem;
}

.projects-title {
  text-align: center;
  font-size: 1.7rem;
  margin: 5rem 0 0.5rem;
}

.project-img {
  width: 16rem;
  border: 1rem solid #20b2aa;
}

.project-img:hover {
  border-top: 1rem solid #e0ffff;
  border-right: 1rem solid #e0ffff;
}

.project-caption,
.project-description {
  margin-bottom: 0.5rem;
}

.project-caption {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-description,
.project-tech {
  font-size: 1.2rem;
}

/*************************** media queries: projects */
@media (min-width: 800px) {
  .projects-title {
    font-size: 2.3rem;
  }

  .project-img {
    width: 22rem;
  }

  .project-caption,
  .project-description {
    margin-bottom: 1.5rem;
  }

  .project-caption {
    font-size: 2rem;
  }

  .project-description,
  .project-tech {
    font-size: 1.5rem;
  }
}

/*********************************************************** skills */
.skills-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 0 0.5rem;
}

.skills-title {
  text-align: center;
  font-size: 1.7rem;
  margin: 5rem 0 0.5rem;
}

.skill-list-bg {
  line-height: 2.5rem;
  margin-bottom: 5rem;
}

.skill-list {
  font-size: 1.5rem;
}

.diploma-img {
  width: 15rem;
  height: 21rem;
  border: 1rem solid #20b2aa;
}

.diploma-caption {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/*************************** media queries: skills */
@media (min-width: 800px) {
  .skill-list-bg {
    line-height: 5rem;
  }

  .skills-title {
    font-size: 2.3rem;
  }

  .skill-list {
    font-size: 2.2rem;
  }

  .diploma-img {
    width: 22rem;
    height: 28rem;
  }

  .diploma-caption {
    font-size: 2rem;
  }
}

/*********************************************************** footer */
.footer-bg {
  background-color: #e0ffff;
  margin-top: 5rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: solid 1rem #20b2aa;
  border-bottom: solid 1rem #20b2aa;
}

.footer-link {
  color: #20b2aa;
}
.footer-link :hover {
  color: #87cefa;
}

.fas.fa-envelope,
.fab.fa-github {
  font-size: 2.5rem;
  cursor: pointer;
}

/*************************** media queries: footer */
@media (min-width: 800px) {
  .fas.fa-envelope,
  .fab.fa-github {
    font-size: 3.5rem;
  }
}
