/*********************************************************** about me */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.3rem;
  text-align: center;
}

.about-me-container header,
.about-me-container .greeting,
.about-me-container .intro,
.about-me-container .intro-para,
.about-me-container figure {
  margin-top: 2rem;
}

.about-me-title {
  font-size: 1.9rem;
}

.greeting {
  font-size: 2rem;
}

.fas.fa-hand-sparkles {
  transform: rotate(20deg);
}

.intro,
.intro-para,
.avatar-caption {
  font-size: 1.5rem;
}

.avatar {
  width: 11rem;
  height: 11rem;
  border: solid 1rem #20b2aa;
}

/*************************** media queries: about me */
@media (min-width: 800px) {
  .about-me-title {
    font-size: 2.5rem;
  }

  .greeting {
    font-size: 2.5rem;
  }

  .intro,
  .intro-para,
  .avatar-caption {
    font-size: 2rem;
  }

  .avatar {
    width: 16rem;
    height: 16rem;
  }
}
